@font-face {
    font-family: 'discord1';
    src: url('../assets/fonts/font01.woff2');
}

@font-face {
    font-family: 'discord2';
    src: url('../assets/fonts/font02.woff2');
}

@font-face {
    font-family: 'discord3';
    src: url('../assets/fonts/font03.woff2');
}

@font-face {
    font-family: 'discord4';
    src: url('../assets/fonts/font04.woff2');
}

@font-face {
    font-family: 'discord5';
    src: url('../assets/fonts/font05.woff2');
}

@font-face {
    font-family: 'discord6';
    src: url('../assets/fonts/font06.woff2');
}