@font-face {
    font-family: 'font01';
    src: url('../assets/fonts/font01.woff2');
}

@font-face {
    font-family: 'font02';
    src: url('../assets/fonts/font02.woff2');
}

@font-face {
    font-family: 'font03';
    src: url('../assets/fonts/font03.woff2');
}

@font-face {
    font-family: 'font04';
    src: url('../assets/fonts/font04.woff2');
}

@font-face {
    font-family: 'font05';
    src: url('../assets/fonts/font05.woff2');
}

@font-face {
    font-family: 'font06';
    src: url('../assets/fonts/font06.woff2');
}