header{
    width: 100vw;
    background-color: #004AAD;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header >  h1{
    color: white;
    font: 18px 'font01';
    text-transform: uppercase;
    
}

nav{
    margin: 20px 50px;
    display: flex;
    flex-direction: row;
}

.cabecalho{
    margin-top: 10px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.cabecalho a{
    margin: 0px 90px;
    font: 20px 'font01';
    text-decoration: none;
    color: black;
}

.cabecalho a:hover{
    color: #004AAD;
    font-size: 21px;
    cursor: pointer;
}

.cabecalho-pt2 {
    display: flex;
    flex-direction: row;
}

.cabecalho-pt2 input{
    padding: 12px 15px;
    border-radius: 30px;
    border: none;
    background-color: rgb(226, 223, 223);
    margin-right: 25px;
}

.cabecalho-pt2 input:hover{
    border:none;
}

#img1{
   height:28px ; 
   margin: 5px 25px;
}

#img2{
    height:30px ; 
    margin: 6px 25px;
 }

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0px;
}

article{
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

section  div{
    margin: 0px 20px;
    
}

section div:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

section > div > a > img{
    height:45vh;
    margin-bottom: 5px;
}

section > div > a{
    text-decoration: none;
}

section > div > a > h1{
    font: 18px 'arial';
    color: black;
    margin-bottom: 8px;
    width: 20vw;
}

section > div > a h2{
    font: 17px 'arial';
    color: rgba(0, 0, 0, 0.904);

}

footer{
    background-color:#004AAD ;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
footer > div {
        display:flex;
        flex-direction: row;  
}
    
footer > div > div{
    display:flex;
    flex-direction: column;
    padding: 75px 80px; 
}
    
footer > div > div > h1{
    font: 20px 'font03';
}
    
    
    
footer > div > div > a{
    font: 18px 'font02';
    text-decoration: none;
    color: #ffffff;
    line-height: 35px;
}
    
footer > div > div > a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #ffffff;
    transition: 0.5s;
}
        
        
footer > div > div > p{
    font: 18px 'font05';
    text-decoration: none;
    color: #ffffff;
    line-height: 35px;
}
    
#txt1{
    font: 30px 'font03';
}    