@media (max-width:414px) {
    header h1{
        font-size: 30px;
    }

    nav section{
        flex-direction: column;
    }

    nav section img{
        height: 30vh;
        width: 80vw; 
    }

    nav section div h1{
        font-size: 35px;
    }

    nav section div p{
        font-size: 30px;
    }
}